.InputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.inputSearch--label,
.inputSearch--info {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

.inputSearch--info {
  border: 0.3rem solid #22072a;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}
